    .svg-images{
        position:absolute;
        top:60px;
        left:50px;
    }
  /* .svg-images svg:nth-of-type(1) {
    position:relative;
    top: 50px;
    left: 20px;
  }
  
  .svg-images svg:nth-of-type(2) {
    position:relative;
    top: 0px;
    left: 40px;
  }
  
  .svg-images svg:nth-of-type(3) {
    position:relative;
    top: 60px;
    left: 60px;
  }
  .svg-images svg:nth-of-type(5) {
    position:relative;
    top: 60px;
    left: 60px;
  }
  .svg-images svg:nth-of-type(7) {
    position:relative;
    top: 60px;
    left: 60px;
  }
  .svg-images svg:nth-of-type(9) {
    position:relative;
    top: 0px;
    left: 60px;
  }
  .svg-images svg:nth-of-type(11) {
    position:relative;
    top: 60px;
    left: 60px;
  } */